@model MukeMagazine
@{
    Layout = "~/Views/Shared/_AjaxFormPageLayout.cshtml";
    ViewBag.Title = "杂志";
    ViewBag.SubmitCallback = "window.parent.frames['workspace'].location.href = '/MukeMagazine/Index';";
    ViewBag.EditAction = "/MukeMagazine/" + ViewBag.OperateType.ToString() + "/" + Model.Id;
}
<script src="~/Assets/Plugins/jquery/jquery-1.11.1.min.js"></script>

@section Form
{
    <tr>
        <td><em>杂志图标:</em></td>
        <td class="vatop rowform" style="width:400px;">
            <input type="text" class="txt" id="MagazineImageUrl" name="MagazineImageUrl" value="@Model.MagazineImageUrl"><span class="fontcolor">*</span>
            <button type="button" onclick="showDialog('/Material/List?materialType=Images&viewName=SelectFilesNew&loadTaxonomys=true&ControlID=MagazineImageUrl&ImgDisplay=img_display', '选择')">浏览…</button>
        </td>
        <td>
            <img src="@ViewBag.MagazineImageUrl" id="img_display" width="120" height="80" />
        </td>
    </tr>
    <tr>
        <td><em>Pdf地址:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" id="PdfUrl" name="PdfUrl" value="@Model.PdfUrl"><span class="fontcolor">*</span>
            <button type="button" onclick="showDialog('/Material/List?materialType=Magazine&viewName=SelectFilesNew&loadTaxonomys=true&ControlID=PdfUrl', '选择')">浏览…</button>
        </td>
        <td></td>
    </tr>
    <tr class="noborder">
        <td><em>名称:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" name="MagazineName" value="@Model.MagazineName"><span class="fontcolor">*</span>
        </td>
    </tr>
    <tr class="noborder">
        <td><em>调整数:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" name="AdjustCount" value="@Model.AdjustCount"><span class="fontcolor">*</span>
        </td>
    </tr>
    @*<tr>
            <td><em>起始时间:</em></td>
            <td class="vatop rowform"><input type="text" class="txt" value="@(Model.MagazineDate == DateTime.MinValue ? "" : Model.MagazineDate.ToString("yyyy-MM-dd"))" name="MagazineDate" onclick="WdatePicker()"></td>
            <td></td>
        </tr>*@
    <tr>
        <td><em>状态: </em></td>
        <td class="vatop rowform">
            <ul>
                @foreach (var item in Html.SelectListItems(Model.Status, false))
                {
                    <li>
                        <label><input type="radio" name="Status" @(item.Selected ? "checked=checked" : "") value="@item.Value">@item.Text</label>
                    </li>
                }
            </ul>
        </td>
        <td></td>
    </tr>
    <tr>
        <td>
            <br />
            <input type="submit" onclick="GetContent()" class="btn" id="sub" value="保存" />
        </td>
        <td>
            <br />
            <a href="/MukeMagazine/Index" class="btn">返回</a>
        </td>
    </tr>

}
@section Scripts
{
    <link href="~/Assets/Plugins/UMeditor/themes/default/css/umeditor.min.css" rel="stylesheet" />
    <script src="~/Assets/Plugins/UMeditor/umeditor.min.js"></script>
    <script src="~/Assets/Plugins/UMeditor/umeditor.config.js"></script>
    <script src="~/Assets/Plugins/UMeditor/lang/zh-cn/zh-cn.js"></script>
    <script src="~/Assets/Js/Core/SelectFile.js"></script>
    <link href="~/Assets/Plugins/My97DatePicker/skin/WdatePicker.css" rel="stylesheet" />
    <script src="~/Assets/Plugins/My97DatePicker/WdatePicker.js"></script>
}
