@model IPagedList<MuKeCourse>
@{
    Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
}

@section Head
{
    <th>ID</th>
    <th>标题</th>
    <th>状态</th>
    <th>推荐</th>
    <th>热门</th>
@*    <th>类型</th>*@
    <th>点击次数</th>
    <th>手动次数</th>
@*    <th>讲师</th>*@
@*    <th>序号</th>*@
    <th>创建时间</th>
    <th class="align-center">操作</th>
}

@section Items
{
    @foreach (var item in Model)
    {
        <tr class="hover">
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>@Html.EnumDescription(item.Status)</td>
            <td>@Html.EnumDescription(item.RecommendStatus)</td>
            <td>@Html.EnumDescription(item.HotStatus)</td>
@*            <td>@Html.EnumDescription(item.CourseType)</td>*@
@*            <td>@item.Teacher</td>*@
@*            <td>@item.Sort</td>*@
            <td>@item.ClickCount</td>
            <td>@item.ManualClickCount</td>
            <td class="align-center">@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
            <td style="white-space:nowrap;" class="w150 align-center">
                <a href="/CourseCapterTestPagperManager/Index?courseId=@item.Id">试卷管理</a>|
                <a href="/CourseViewTest/Index?CourseId=@item.Id">查看考试</a>|
                <a class="edit" href="/CourseItem/Index?CourseId=@item.Id&CourseName=@item.Title">章节管理</a> |
                <a class="edit" href="/MuKeCourseComment/Index?CourseId=@item.Id">评论</a> |
@*                <a class="edit" href="FormForUpdate?viewName=CourseForm&id=@item.Id&">修改</a> |*@
                <a class="edit" href="FormForUpdateWithIndex?viewName=CourseForm&id=@item.Id&sucessIndex=@ViewBag.SecessIndex">修改</a> |
                <a class="edit" href="javascript:confirmDelete('Course/Remove','id=@item.Id',showSubmitResult)">删除</a>
            </td>
        </tr>
    }
}

