@model IPagedList<BasicData.Domain.Course.MuKeCourseTestRecord>
@{
    Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
}

@section Head
{
    <th>ID</th>
    <th>用户</th>
    <th>课程</th>
    <th>分数</th>
    <th>创建时间</th>
    <th class="align-center">操作</th>
}

@section Items
{
    @foreach (var item in Model)
    {
        <tr class="hover">
            <td>@item.Id</td>
            <td>@item.User.LoginName</td>
            <td>@item.MuKeCourse.Title</td>
            <td>@item.GetCorce</td>
            <td class="align-center">@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
            <td style="white-space:nowrap;" class="w150 align-center">
              
@*                <a class="edit" href="/MuKeCourseComment/Index?CourseId=@item.Id">评论</a> |*@
@*                <a class="edit" href="javascript:confirmDelete('Course/Remove','id=@item.Id',showSubmitResult)">删除</a>*@
            </td>
        </tr>
    }
}

