@using ThirdApi.qiniu.api
@model IPagedList<MuKeCase>
@{
    Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
}

<script language="javascript" type="text/javascript">
    function cursor(imgUrl) {
        var id = document.getElementById(imgUrl);
        id.style.display = "block";
        id.style.position = "absolute";
        id.style.left = event.clientX + "px";
        id.style.top = event.clientY + "px";
    }

    function hidecursor(imgUrl) {
        var id = document.getElementById(imgUrl);
        id.style.display = "none";
    }
</script>

@section Head
{
    <th>ID</th>
    <th>名称</th>
@*    <th>图标</th>*@
    <th>查看次数</th>
    <th>手动调节次数</th>
    <th>状态</th>
    <th>创建时间</th>
    <th class="align-center">操作</th>
}

@section Items
{
    @foreach (var item in Model)
    {
        <tr class="hover">
            <td>@item.Id</td>
            <td>@item.Title</td>

@*            <td><div id="divImg" onmouseover="cursor('@item.ImageUrl');" onmouseout="hidecursor('@item.ImageUrl');" class="menu"><img style="height:150px;width:250px;display: none;" id="@item.ImageUrl" src="@item.ImageUrl" />@item.ImageUrl</div></td>*@

            <td>@item.ClickCount</td>
            <td>@item.ManualClickCount</td>
            <td>@Html.EnumDescription(item.Status)</td>
            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
            <td class="w270 align-center">
                <a class="edit" href="/MuKeCase/FormForUpdate?id=@item.Id">修改</a> |
                <a class="edit" href="javascript:confirmDelete('/MuKeCase/Remove','id=@item.Id',showSubmitResult)">删除</a>

@*                <a class="edit" href="javascript:showDataFormModalDialog('/MuKeCase/FormForUpdate?id=@item.Id','修改')">修改</a> |*@
@*                <a class="edit" href="javascript:confirmDelete('/MuKeCase/Remove','id=@item.Id',showSubmitResult)">删除</a>*@
            </td>
        </tr>
    }
}
