@model IPagedList<BasicData.Domain.KaHao>
    @{
        Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
    }

    @section Head
{
        <th>ID</th>
        <th>卡号</th>
        <th>客户姓名</th>
        <th>地址</th>
        <th>电话</th>
        <th>售卡人</th>
        <th>创建时间</th>
        <th class="align-center">操作</th>
    }

    @section Items
{
        @foreach (var item in Model)
    {
            <tr class="hover">
                <td>@item.Id</td>
                <td>@item.Code</td>
                <td>@item.XingMing</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.ShouKaRen</td>
                <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
            <td class="w270 align-center">

                <a class="edit" href="/KaHao/FormForUpdate?id=@item.Id">修改</a> |
                <a class="edit" href="javascript:confirmDelete('/KaHao/Remove','id=@item.Id',showSubmitResult)">删除</a>
            </td>
        </tr>
        }
    }
