@model MuKeBanner
@{
    Layout = "~/Views/Shared/_AjaxFormPageLayout.cshtml";
    ViewBag.Title = "首页>轮播图";
//    ViewBag.SubmitCallback = "window.parent.frames['workspace'].location.href = 'Index?BannerType=Home&ObjectId=" + Model.ObjectId + "';";
    ViewBag.SubmitCallback = "window.parent.frames['workspace'].location.href = 'Index';";
}
@section Form
{
    <tr class="noborder">
        <td><em>轮播图片:</em></td>
        <td class="vatop rowform">
            <input type="text" class="txt" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl"><span class="fontcolor">*</span>
            <button type="button" onclick="showDialog('/Material/List?materialType=Images&viewName=SelectFilesNew&loadTaxonomys=true&ControlID=ImageUrl', '选择')">浏览…</button>
            <input type="hidden" name="ObjectId" value="@Model.ObjectId" />
@*            <input type="hidden" name="BannerType" value="" />*@
        </td>
        <td></td>
    </tr>
@*    <tr>*@
@*        <td><em>链接地址:</em></td>*@
@*        <td class="vatop rowform"><input type="text" class="txt" value="@Model.LinkUrl" name="LinkUrl"></td>*@
@*        <td></td>*@
@*    </tr>*@

<tr>
    <td><em>分类: </em></td>
    <td class="vatop rowform">
        <ul>
            @foreach (var item in Html.SelectListItems(Model.BannerType, false))
            {
                <li>
                    <label><input type="radio" name="BannerType" @(item.Selected ? "checked=checked" : "") value="@item.Value">@item.Text</label>
                </li>
            }
        </ul>
    </td>
    <td></td>
</tr>



    <tr>
        <td><em>序号:</em></td>
        <td class="vatop rowform"><input type="text" class="txt" value="@Model.Sort" name="Sort"></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <br />
            <input type="submit" class="btn" value="保存" />
        </td>
        <td>
            <br />
@*            <a href="Index?BannerType=@MuKeBannerTypes.Home&ObjectId=@Model.ObjectId" class="btn">返回</a>*@
            <a href="Index" class="btn">返回</a>
        </td>
    </tr>

    <script type="text/javascript">

        //window.frames['workspace'].selectFileCallback = function (linkurl) {
        //    window.alert(linkurl);
        //};

        function showDialog(url, title) {

            var buttons = [
                {
                    value: '关闭'
                }
            ]

            $.get(url, function (content) {
                var d = parent.dialog({
                    title: title,
                    content: content,
                    button: buttons,
                    width: 800,
                    height: 500
                });

                d.showModal();
            });
        }


    </script>

}


