@model IPagedList<MuKeCity>
    @{
        Layout = "~/Views/Shared/_ItemsPartialLayout.cshtml";
    }

    @section Head
{
        <th>ID</th>
        <th>城市名称</th>
        <th>状态</th>
        <th>排序</th>
        <th>创建时间</th>
        <th class="align-center">操作</th>
    }

    @section Items
{
        @foreach (var item in Model)
    {
            <tr class="hover">
                <td>@item.Id</td>
                <td>@item.CityName</td>
            <td>@Html.EnumDescription(item.Status)</td>
                <td>@item.Sort</td>
            <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm")</td>
            <td class="w270 align-center">

                <a class="edit" href="/MuKeCity/FormForUpdate?id=@item.Id">修改</a> |
                <a class="edit" href="javascript:confirmDelete('/MuKeCity/Remove','id=@item.Id',showSubmitResult)">删除</a>
            </td>
        </tr>
        }
    }
